%div.topbox
  %span.logo
    MoodyGram
  %span.login
    = link_to "log in", new_user_session_path
%hr
%p Log in to MoodyGram
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  %p.field
    = f.label :login
    = f.text_field :login, autofocus: true
  %p.field
    = f.label :password
    = f.password_field :password, autocomplete: "off"
  - if devise_mapping.rememberable?
    %p.field
      = f.check_box :remember_me
      = f.label :remember_me
  %p.actions
    = f.submit "log in"
= render "devise/shared/links"
